
@import url(/pages-style/header.css);
@import url(/pages-style/footer.css);
:root {
    --fonte-conteudo: 'Roboto';
    --fonte-titulo: 'Playfair Display';
    --branco-principal: #FFFFFF;
    --cor-destaque-review: #ff642f;
    --cor-texto: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--branco-principal);
    color: var(--cor-texto);
    margin: 0; /* Adicionei para garantir que não haja margens extras */
}

.banner {
    width: 77%;
    margin-top: 30px;
    border-radius: 20px;
}

.principal {
    padding-bottom: 40px; /* Adicione o padding apenas ao elemento principal */
    min-height: calc(100vh - 40px); /* Mova o cálculo da altura mínima para o .principal */
    overflow: auto;
}

.principal_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal_conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.principal_conteudo_titulo {
    font-family: var(--fonte-conteudo);
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin-top: 2em;
}

.principal_conteudo_container {
    display: flex;
    flex-direction: row;
    
}

.principal_conteudo_container_receitas {
    padding: 2.5%;
    width: 300px;
    
}

.img_arroz-carreteiro,
.img_bolo-de-cenoura,
.img_inhoque,
.img_macarrao {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.img_estrelas{
    margin-top: 0.5em;
    width: 150px;
}

.principal_conteudo_container_receitas_descricao{
font-family: var(--fonte-conteudo);
color: var(--cor-texto);
margin-top: 0.5em;
margin-left: 8px;
font-weight: 600;
}

